.container {
  width: 400px;
  background-color: #ed9eae;
  padding: 1px;
}

.list {
  padding: 0px;
  color: #fff;
  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset: my-counter; /* Задаём имя счетчика */
}

.list__item::before {
  margin: 5px;
  content: counter(my-counter) "."; /* Выводим число с точкой */
  counter-increment: my-counter; /* Увеличиваем значение счётчика */
}

.container__list {
  margin: 18px 18px;
}

.list__item {
  display: flex;
  background-color: #c66377;
  height: 25px;
  margin-bottom: 8px;
}

.list__item-span {
  height: 25px;
  align-items: center;
  display: flex;
  background-color: #9e354a;
  padding: 0 20px;
}
