.font_styles {
  font-family: Arial, Helvetica, sans-serif;
}

.span_style {
  color: #0c08e0;
}

.color_text_One {
  color: #768490;
}
.list {
  margin: 0px 40px;
}
div {
  background-color: rgb(232, 227, 227);
  padding: 18px 18px;
}
